.container {
  position: relative;
  margin-top: 2px;
}
.searchInput {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px 40px 10px 10px;
}
.icon {
  position: absolute;
  right: 10px;
  width: 16px;
  height: 16px;
  top: 10px;
}