.container {
  flex-direction: column;
  position: absolute;
  top: 45px;
  left: 5px;
  height: calc(100% - 49px);
  padding: 10px 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 212px;
}
.searchBar {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px 30px 10px 10px;
  width: 100%;
}

.functionContainer {
  padding: 17px 0px 0px 5px;
}
.item {
  display: block;
  text-decoration: none;
  color: #1c6dd0;
  font-weight: 500;
  padding: 14px 0px 0px 7px;
}

.parentFunction {
  font-weight: 700;
  font-size: 1em;
  text-transform: uppercase;
}
.searchBarContainer {
  position: relative;
  
}
.icon {
  position: absolute;
  top: 10px;
  right: 10px;
}