.container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  position: absolute;
  top: 39px;
  height: calc(100% - 39px);
  padding: 20px 10px;
  overflow-y: scroll;
  border-right: 1px solid black;
}