.container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  position: absolute;
  top: 45px;
  left: 5px;
  height: calc(100% - 49px);
  padding: 10px 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}
.item {
  text-decoration: none;
  color: #1c6dd0;
  font-weight: 600;
  padding-left: 4px;
}
