.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid hsl(0, 0%, 70%);
  background-color: #f8f8f8;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
}

.titleName {
  font-weight: 650;
  font-size: 1.3em;
  padding: 7px 15px;
}

.titleActions {
  padding: 7px 10px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
}

.titleActions .btn {
  background-color: hsl(204, 72%, 50%);
  color: white;
  padding: 10px 12px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.titleActions button:hover {
  background-color: #0056b3;
}

.searchIcon {
  position: absolute;
  top: 10px;
  right: 10px;
}

.searchBarContainer {
  position: relative;
}
.searchBar {
  border-radius: 5px;
  padding: 10px;
  padding-right: 30px;
  border: 1px solid #ccc;
}

.icon {
  width: 15px;
  height: 15px;
}

.disabled {
  background-color: hsl(203, 56%, 76%);
  color: white;
  padding: 10px 12px;
  border: none;
  border-radius: 5px;
}
