.scrollContainer {
  position: relative;
  height: calc(100vh - 180px);
  overflow-y: auto;
  overflow-x: auto;
  background-color: #f8f8f8;
  margin: 10px;
}

.container {
  width: 100%;
  border-collapse: separate;
  overflow: scroll;
}
.OD {
  width: 60px;
  text-align: center;
  cursor: default;
}

.checkboxContainer {
  text-align: center;
  width: 60px;
}
.checkbox {
  cursor: pointer;
}
