.checkboxContainer {
  text-align: center;
}

.accessAndPermissions {
  width: calc(100% - 20px);
}

.table {
  width: 100%;
  box-sizing: border-box;
  border-collapse: collapse;
}

.checkbox {
  transform: scale(1.2);
  cursor: pointer;
}