.container {
    width: 100%;
    height: 100vh;
}
.routes {
    position: absolute;
    top: 45px;
    left: 222px;
    margin-bottom: 10px;
    width: calc(100% - 228px);
    height: calc(100% - 39px);
    height: 94vh;
    border: 1px solid #ccc;
    border-radius: 5px;
    overflow-y: scroll;
}