.container {
    padding: 10px;
    border-right: 1px solid hsl(204, 72%, 40%);
}
.container:hover {
    background-color: hsl(204, 72%, 40%);
}
.container_active {
    padding: 10px;
    background-color: hsl(204, 72%, 40%);
    border-right: 1px solid hsl(204, 72%, 40%);
}